<div class="row">
	<p>{{title}} :</p>
    <div [style.display]="displayChart?'inherit':'none'" class="chartContainer">
		<canvas baseChart
		      [datasets]="dataset"
		      [labels]="labels"
		      [legend]="chartLegend"
		      [colors]="chartColors"
		      [options]="chartOptions"
		      [chartType]="chartType"
		></canvas>
    </div>
    <p [style.display]="displayChart?'none':'inherit'">No data since 30 minutes</p>
</div>