<div class="row">
    <div class="chartContainer">
      <canvas baseChart
              [data]="data"
              [labels]="labels"
              [options]="options"
              [legend]="chartLegend"
              [chartType]="chartType"
      ></canvas>
    </div>
</div>