<ion-col col-12 col-md-6>
	<app-simple-information [title]=ramLabel [value]=terminal.ram_hardware_formatted></app-simple-information>
	<app-linechart [terminal]=terminal [getValues]=getValues [getNow]=getNow></app-linechart>
</ion-col>