<ion-list>
	<ion-item *ngIf="cpuAvailable">
		<ion-label>CPU</ion-label>
		<ion-toggle [(ngModel)]="cpu" checked="cpu"></ion-toggle>
	</ion-item>
	<ion-item *ngIf="ramAvailable">
		<ion-label>RAM</ion-label>
		<ion-toggle  [(ngModel)]="ram" checked="ram"></ion-toggle>
	</ion-item>
	<ion-item *ngIf="diskAvailable">
		<ion-label>Disk</ion-label>
		<ion-toggle [(ngModel)]="disk" checked="disk"></ion-toggle>
	</ion-item>
	<ion-item *ngIf="networkAvailable">
		<ion-label>Network</ion-label>
		<ion-toggle [(ngModel)]="network" checked="network"></ion-toggle>
	</ion-item>
</ion-list>
<button ion-button (click)="save()">Save</button>