<ion-col col-12 col-md-6>
	<app-simple-information [title]=diskLabel [value]=diskInformation></app-simple-information>
	<app-piechart [terminal]=terminal  [labels]=chartLabel [getNow]=getNow></app-piechart>
</ion-col>