<ion-row align-items-stretch>
	<ion-col col-12 col-md-4>
		<app-simple-information [title]=addressLabel [value]=addressInformation></app-simple-information>
		<app-simple-information [title]=statusLabel [value]=statusInformation></app-simple-information>
	</ion-col>
	<ion-col col-12 col-md-4>
		<app-data-linechart [terminal]=terminal [getValues]=getDownLoadValues [getNow]=getDownLoadNow [title]=downLoadTitle></app-data-linechart>
	</ion-col>
	<ion-col col-12 col-md-4>
		<app-data-linechart [terminal]=terminal [getValues]=getUpLoadValues [getNow]=getUpLoadNow [title]=upLoadTitle></app-data-linechart>
	</ion-col>
</ion-row>