page-list-terminal {

	.listContainer {
		width: 100%;
		height: 100%;
	}

	ion-card-header {

		background-color: rgba(0,0,0,.05);

		.status {
			display: inline-block;
			border-radius: 100%;
			width: 1rem;
			height: 1rem;
		}
		.online {
		  background-color : limegreen;
		}

		.error {
			background-color: orange;
		}

		.offline {
			background-color: red;
		}
	}

	ion-card-content {
		p {
			padding-top: 10px;
		}
	}
}