<ion-header>

  <ion-navbar>
    <ion-title>Terminal List</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshList($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list [virtualScroll]="terminals">
    <ion-grid fixed>
      <ion-row align-item-stretch>
        <ion-col col-12 align-self-stretch align-self-center *virtualItem="let terminal">
          <ion-card (click)="openTerminal(terminal)">

          	<ion-card-header>
          		<span class="status" [ngClass]="{'online': terminal.status,'offline': !terminal.status}"></span>
          		<span>{{terminal.hostname}}</span>
          	</ion-card-header>

          	<ion-card-content>
          		<app-simple-information *ngIf="terminal.cpu_hardware" [title]=cpuLabel [value]=terminal.cpu_hardware></app-simple-information>
          		<app-simple-information *ngIf="terminal.ram_hardware_formatted" [title]=ramLabel [value]=terminal.ram_hardware_formatted></app-simple-information>
              <app-simple-information *ngIf="terminal.ip_address" [title]=addressLabel [value]=terminal.ip_address></app-simple-information>
          	</ion-card-content>

          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>