<ion-header>

  <ion-navbar>
  	<button ion-button (click)="showSettings($event)">
      <ion-icon name="settings"></ion-icon>
    </button>
    <ion-title>{{ terminal.hostname }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

	<ion-card>
	  <ion-card-header>
	    Hardware
	  </ion-card-header>
	  <ion-card-content>
	  	<ion-grid fixed>
      		<ion-row align-items-stretch>
      			<ion-col col-12 col-md-6 *ngIf="displayCpu">
			    	<app-cpu-information [terminal]=terminal></app-cpu-information>
			    </ion-col>
			    <ion-col col-12 col-md-6 *ngIf="displayRam">
			    	<app-ram-information [terminal]=terminal></app-ram-information>
			    </ion-col>
			    <ion-col col-12 col-md-6 *ngIf="displayDisk">
			    	<app-disk-information [terminal]=terminal></app-disk-information>
			    </ion-col>
			</ion-row>
		</ion-grid>
	  </ion-card-content>
	</ion-card>

	<ion-card>
	  <ion-card-header>
	    Network
	  </ion-card-header>
	  <ion-card-content>
	  	<ion-grid fixed>
	    	<app-network-information *ngIf="displayNetwork" [terminal]=terminal></app-network-information>
	    </ion-grid>
	  </ion-card-content>
	</ion-card>

</ion-content>